.bg-yellow {
  background-color: #fee405;
}

.bg-gray {
  background-color: #e9ecef;
}

.navbar-brand {
  margin-right: 0 !important;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.header h1 {
  text-align: center;
  text-transform: uppercase;
}

.header h2 {
  text-align: center;
  line-height: 1.5;
  width: 50rem;
  font-size: 1.1rem;
}

.header img {
  height: auto;
  max-height: 12.5rem;
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.section-1 p {
  width: 55rem;
  margin-bottom: 0;
  text-align: center;
}

.work-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
}

.work-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% / 3);
}

.work-feature:nth-child(2) {
  margin: 0 2rem;
}

.work-feature-header {
  background-color: #dc3545;
  text-align: center;
  padding: 0.3rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.work-feature-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 1rem 2rem 2rem;
  background-color: #e9ecef;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.work-img {
  display: block;
  position: relative;
}

.img-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  position: absolute;
  background-color: #dc3545;
  text-align: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: pointer;
}

.img-details:hover {
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.recent-work {
  padding: 3rem;
}

.recent-work-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.recent-work-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.recent-work-header p {
  text-align: center;
  width: 55rem;
}

.recent-work-header a {
  color: #dc3545;
  text-decoration: none;
  font-weight: bold;
}

.recent-work-header a:hover {
  color: #dc3545;
  text-decoration: underline;
}

.recent-work-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recent-work-body > div {
  margin: 0.2rem;
}

.recent-work-body img {
  width: 28.125rem;
  height: auto;
  max-height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}

.recent-work-body img:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.ux-case {
  padding: 3rem;
}

.ux-case-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.ux-case-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.ux-case-header p {
  text-align: center;
  width: 55rem;
}

.ux-case-header a {
  color: #dc3545;
  text-decoration: none;
  font-weight: bold;
}

.ux-case-header a:hover {
  color: #dc3545;
  text-decoration: underline;
}

.ux-case-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ux-case-body img {
  height: auto;
  max-height: 15.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}

.contact-section {
  text-align: center;
  padding: 3rem;
}

.contact-section p {
  margin-bottom: 0;
}

/* Modal */
.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 100%;
  max-height: 250px;
}

.myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=app.css.map */