// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$yellow-primary: #FEE405 !default;

.bg-yellow {
    background-color: $yellow-primary;
}

.card {
    height: 20%;
}